<a class="social" href="https://twitter.com/amsacanada"><i class="fa fa-twitter"></i></a>

<div class="hero">
	<h1>
		Ahmadiyya Muslim Student Association
	</h1>
	
	<a href="#institutionListing" class="button button--primary">See Institutions</a>
</div>

<div class="introduction">
	<div class="siteContent">
		<div class="grid grid--center">
			<div class="grid__item desk--four-fifths">
				<div class="alignCenter">
					<h2>A Brief Introduction</h2>
					<p>The Ahmadiyya Muslim Student Associations are student run clubs at high schools, colleges, and universities across Canada. These AMSAs vary in size, but not in their passion and dedication to spreading the word of Islam and Islam Ahmaddiyat. </p>
					<p>Students in these clubs organize various faith-focused events throughout the school year, along with social event gatherings for the Ahmadi students at the respective institutions. Below is a complete listing of all AMSAs established throughout Canada along with some information and images about various past events.</p>
				</div>
			</div>
		</div>
	</div>
</div>

<div class="listing" id="institutionListing">
	<div class="siteContent">
		<div class="grid">
			<div class="grid__item one-whole">
				<div class="alignCenter">
					<h2>AMSA Institutions<small>in Canada</small></h2>
				</div>
			</div>
			
			<% @institutions.sort_by{|i| i.name}.each do |institution| %>
				<div class="grid__item one-third">
					<%= render "institution", institution: institution %>
				</div>
			<% end %>

		</div>
	</div>
</div>
