.alignCenter{
	text-align: center;
}

.alignRight{
	text-align: right;
}

.spacer5{
	margin-bottom: 5px;
}

.spacer10{
	margin-bottom: 10px;
}

.spacer24{
	margin-bottom: 24px;
}

.spacer50{
	margin-bottom: 50px;
}