/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 */

@import 'grid';
@import 'variables';
@import 'initializers';
@import 'helpers';

/* BUTTONS
======================= */
.button{
	padding: 20px 40px 18px;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	-o-border-radius: 5px;
	color: #fff;
	text-transform: uppercase;
	letter-spacing: 1px;
	display: inline-block;
	transition: all 0.1s ease-in-out;
	font-weight: bold;
	&.small{
		padding: 12px 20px 10px;
		font-size: 12px;
	}
	&.button--primary{
		background: $primaryColor;
		-webkit-box-shadow: 0px 3px 0px 0px darken($primaryColor, 15%);
		-moz-box-shadow: 0px 3px 0px 0px darken($primaryColor, 15%);
		box-shadow: 0px 3px 0px 0px darken($primaryColor, 15%);
		&:hover{
			background: darken($primaryColor, 5%);
			-webkit-box-shadow: 0px 3px 0px 0px darken($primaryColor, 20%);
			-moz-box-shadow: 0px 3px 0px 0px darken($primaryColor, 20%);
			box-shadow: 0px 3px 0px 0px darken($primaryColor, 20%);
		}
	}
	&.button--secondary{
		background: $lightGrey;
		color: $darkGrey;
		-webkit-box-shadow: 0px 3px 0px 0px darken($lightGrey, 15%);
		-moz-box-shadow: 0px 3px 0px 0px darken($lightGrey, 15%);
		box-shadow: 0px 3px 0px 0px darken($lightGrey, 15%);
		&:hover{
			background: darken($lightGrey, 5%);
			-webkit-box-shadow: 0px 3px 0px 0px darken($lightGrey, 20%);
			-moz-box-shadow: 0px 3px 0px 0px darken($lightGrey, 20%);
			box-shadow: 0px 3px 0px 0px darken($lightGrey, 20%);
		}
	}
}


/* FOOTER
======================= */
.footer{
	background-color: $darkGrey;
	padding: 80px 0;
	p {
		margin: 0;
		text-align: center;
		color: white;
	}
}

.footerNav{
	background-color: darken($darkGrey, 10%);
	padding: 15px;
	color: $mediumGrey;
	text-align: center;
	a{
		color: $lightGrey;
		display: inline-block;
		border-bottom: 1px dotted transparent;
		margin-left: 15px;
		transition: all 0.2s ease-in-out;
		&:hover{
			border-color: $lightGrey;
		}
	}
}