// Place all the styles related to the institutions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import 'variables';

h1{
	font-family: 'Raleway', sans-serif;
}

body{
	background-color: $lightGrey;
}

.siteContent{
	min-height: 800px;
}

.heading{
	padding: 40px 0;
}

.listItem{
	background-color: white;
	padding: 20px 30px;
	border-bottom: 2px solid darken($lightGrey, 10%);
}