// Place all the styles related to the welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import 'variables';

h1{
	font-family: 'Raleway', sans-serif;
	font-weight: 700;
	font-size: 60px;
	color: white;
}

h2{
	color: $darkGrey;
	position: relative;
	padding-bottom: 20px;
	&:after{
		content: '';
		position: absolute;
		width: 100px;
		border-bottom: 3px solid $primaryColor;
		top: 100%;
		left: 50%;
		margin-left: -50px;
	}
	small{
		display: block;
		text-transform: uppercase;
		font-size: 12px;
		color: $mediumGrey;
		letter-spacing: 3px;
		padding: 5px 0;
	}
}

.userNav{
	position: absolute;
	width: 100%;
}

.hero{
	// background: url('http://tympanus.net/Freebies/HalcyonDaysTemplate/img/hero-bg.jpg') no-repeat center center;
	background: image-url('hero.jpg') no-repeat center center;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	padding: 65px 0 300px 0;
	height: auto;
	text-align: center;

	.button{
		margin-top: 60px;
	}
}

.introduction{
	background-color: $lightGrey;
	padding: 90px 0 100px;
}

.listing{
	padding: 90px 0 100px;
}